<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>List of Transactions</title>
</head>
<body>


<div class="p-3 mb-2 bg-secondary text-white">LIST OF TRANSACTIONS</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">amount</th>
        <th scope="col">concept</th>
        <th scope="col">employee</th>
        <th scope="col">type</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="transactions : ${listtransactions}">
        <th scope="row" th:text="${transactions.id}"></th>
        <td th:text="${transactions.amount}"></td>
        <td th:text="${transactions.concept}"></td>
        <td th:text="${transactions.employee.name}"></td>
        <td th:text="${transactions.type}"></td>

    </tr>
    </tbody>
</table>

<div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
    <a th:href="@{/}" class="btn btn-primary mb-3">return</a>
    <!--a th:href="@{/add}" class="btn btn-primary">Agregar Estudiante</a-->
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>